@import "../../../styles/vars";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  font-family: 24px;
  margin-bottom: 40px;
}

.button {
  background-color: $secondary-orange;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  border-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 16px;
  &:hover {
    opacity: 75%;
    cursor: pointer;
  }
}
